*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  
}

body {
  margin: 0;
  background: var(--main-white);
  color: var(--dark-blue);
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.main,
.footer {
  width: 100%;
}

.header, 
.footer {
  background: var(--dark-blue);
}

.main {
  flex: 1;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
}